<div class="article-item article-image">
  <img class="article-item-image" src="<%= image_path article.image %>" alt=<%= article.title %> >
</div>

<div class="article-item article-text">
  <b><%= article.title %></b><br>
  <%= article.body %>
  <%= link_to 'Vote', article_votes_path(article_id: article.id), method: :post %>
</div>